body {
  background-color: #eee;
  margin: 0 auto; /* center vertically */
  width: 50%;
}

banner-image img {
  width: 100%;
  padding: 0 10px;
}

.content {
  background-color: #fff;
  width: Calc(100% - 2*(0.005 * 100vw));
  margin: 0 auto;
  /*margin-top: -5px;*/
}
.content .header {
  background-color: #333;
  color: #fff;
  padding: 5px;
}
.content .footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
}
