html > * {margin: 0; padding: 0;}
body {
  background-color: #F0F0F0;
  color: #0F7F0F;
  width: 100%;
}
.pc-behave { display: none; }
.phone-behave { display: none; }
/*
.----..----..----.  .----.    .----..---..-.  .-..-.   .----. .----.
| {_  | {_ /  {}  \{ {__     { {__ {_   _}\ \/ / | |   | {_  { {__  
| |   | |  \      /.-._} }   .-._} } | |   }  {  | `--.| {__ .-._} }
`-'   `-'   `----' `----'    `----'  `-'   `--'  `----'`----'`----' 
*/

@media only screen and (max-width: 900px) {
  #phone-container { display: block; }
  #phone-container {
    width: 300px; height: 400px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #F0F0F0;
    border: 1px solid #31573B;
    border-left: 10px solid #FAFAFA;
    border-right: 10px solid #FAFAFA;
  }
  .phone-heading {
    margin: 0;
    background-color: #DDDDDD;
    border-bottom: 9px solid #31573B;
  border-left: 10px solid #FAFAFA;
    border-right: 10px solid #FAFAFA;
  }
  .phone-banner {
    width: 100%;
  }
}

/*
.----.  .---.     .----..---..-.  .-..-.   .----. .----.
| {}  }/  ___}   { {__ {_   _}\ \/ / | |   | {_  { {__  
| .--' \     }   .-._} } | |   }  {  | `--.| {__ .-._} }
`-'     `---'    `----'  `-'   `--'  `----'`----'`----' 
*/
@media only screen
and (min-width: 900px) {
  
  #pc-container { display: block; }
  
  #header {
    position: absolute;
    top: 50;
  }
  #showcase { 
    background: url(banner.jpg) no-repeat; color: rgba(255,255,255,0.8);
    position: relative;
    min-height: 50px; width: 100%;
  }
  #showcase, #showcase * {z-index: -1;}
  #nav{}
  .beauty{}
  #footer{ position: absolute; bottom: 0;}
  #footer > * { display:inline-block;}
  #header {
    font-size: 38;
    height: auto;
    padding-left: 5px;
    margin-bottom: 5px;
    border-left: 5px solid #0F7F0F;
    color: #0F7F0F;
  }
  #showcase {
    position: relative;
    top: -47px;
    margin: 0; padding: 0; overflow: hidden;
    background-size: contain;
    min-height: 200px;
    min-width: 936px; width: 100%;
  }
  #showcase > * {
    padding-left: 5px;
  }
}

