.inline-list {
    display: block;
    margin-top: var(--typo--font-size);
    margin-bottom: var(--typo--font-size);
}

.inline-list p {
    margin-top: 0;
    margin-bottom: 0;
}

.inline-list p:first-of-type {
    display: inline-block;
}

.inline-list p:first-of-type::after {
    display: inline-block;
    content: '';
    width: 1ch;
}

.inline-list :is(ul, ol) {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.inline-list :is(ul, ol) > li:not(:last-of-type) {
    margin-right: 1ch;
}

.inline-list :is(ul, ol) > li:not(:last-of-type)::after {
    content: ', ';
    padding-left: 0.001ch;
}