:is(ul, ol) {
    margin: 0;
}
 
/** headings */
:is(h1,h2,h3,h4,h5,h6) {
    font-size: clamp(
      calc(.5rem + (1rem / var(--heading-level))),
      8vw,
      calc(1rem + (1rem / var(--heading-level)))
      );
      font-family: sans-serif;
}

h1 {
    --heading-level: 1;
}

h2 {
    --heading-level: 2;
}

h3 {
    --heading-level: 3;
}

h4 {
    --heading-level: 4;
}

h5 {
    --heading-level: 5;
}

h6 {
    --heading-level: 6;
}


 
 
/** table */
table {
    background: var(--table--background);
    margin: 3rem 0;
    border: 1px solid black;
    padding: 0 0.5rem;
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px solid black;
    padding-bottom: 99px;
}
