[alt="banner"] {
    height: 6.25rem;
}

:is(h1, h2, h3, h4, h5, h6, p) {
    margin: 0;
    padding: 0;
}

:is(ul, ol) {
    margin: 0;
}

p {
    margin: .5em 0;
}

:is(h1, h2, h3, h4, h5, h6, p, li) {
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    color: var(--primary--colour);
    text-decoration: underline;
    text-decoration-color: var(--null--background);
}



 p, ol, ul, blockquote, pre, code {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
 }

 h1 {
    font-size: 2rem;
    line-height: 0.75rem;
    padding-bottom: 1rem;
 }

 h2 {
    font-size: .7rem;
    line-height: 2.14rem;
 }
